.add-button {
    position: absolute;
    right: 56px;
    bottom: 56px;
}

.user-table {
    width: 100%;
    border-collapse: collapse;


    tr {
        border-bottom: 1px solid rgba(0, 0, 0, 0.12);
        cursor: pointer;

        &:last-child {
            border-bottom: 0;
        }

        &:first-child {
            cursor: unset;

            &:hover {
                background-color: unset
            }
        }



        td {
            height: 48px;

            &:first-child {
                padding-left: 16px;


            }
        }


        th {
            color: rgba(0, 0, 0, 0.5);
            font-weight: 500;
            text-align: start;
            font-style: 14px;

            &:first-child {
                padding-left: 16px;
            }

        }

        &:hover {
            background-color: rgba(0, 0, 0, 0.12);
        }
    }

}

mat-card {
    padding-right: 0;
    padding-left: 0;
}